
<div id='navbar'></div>
<div id='content'></div>
<div id='side-content'></div>
<script type="text/javascript">
  $(function(){
    Tumblr.CURRENT_USER = {id: "<%= current_user.id %>",
                          username: "<%= current_user.username %>",
                          blog_id: "<%= current_user.blog.id %>"};
    Tumblr.initialize();

  });
</script>
