<script>
  $(document).ready(function(){
    Tumblr.CURRENT_USER = {id: "<%= current_user.id %>",
                          username: "<%= current_user.username %>",
                          blog_id: "<%= current_user.blog.id %>"};
    Tumblr.initialize();

  });
</script>


<div id='navbar'></div>
<div id='content'></div>
