<section class="full-height bg1"  data-type="parallax" data-bg-height="500">
  <div style="height: 1000px;">
    <div class="session-container">

             <div class= "credential-div topcorner">
               <button class="cred-button btn btn-primary"><a href="/session/new">Log in</a></button>
               <button class="cred-button btn btn-primary"><a href="/users/new">Sign up</a></button>
             </div>

             <div class="session-form-container">
               <div class="session-form">
                 <form action="<%=session_url%>" method="post">
                     <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                   <label class="username-input">
                     <input class="form-control auto-user input-lg" style= "" type="text" name="user[username]" placeholder="Username"></label>
                   <label class= "password-input">
                     <input class="form-control auto-pass input-lg" style= "" type="password" name="user[password]" placeHolder= "Password"></label>
                     <input class="sign-in-button btn btn-primary sign" type ="submit" value = "Sign In">
                     <input class="sign-in-button btn btn-primary demo-button" value = "Demo">
                 </form>
               </div>
             </div>
    </div>
  </div>
</section>
	<!-- Section #2 -->
<section class="fixed-height bg2" data-type="parallax">
		<article></article>
</section>
	<!-- Section #3 -->
<section class="bg3" data-type="parallax">
		<div style="height:600px;">
	</div>
</section>


<script>
  Guest.initialize();
</script>
