// Place all the styles related to the api/blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blog-show{
  margin:0 auto;
  width: 548px;

  .user-profile-pic{
      text-align: center;
      margin-bottom: 33px;
  }

  .username-header{
    padding-left: 21px;
    padding-right: 21px;
  }

  .thumbnail-user{
    display: none;
  }

  .thumbnail-user-blog{
    width: 170px;
    height: 170px;
    cursor: pointer;
  }

  .edit-button{
    display: none;
  }

  .quote-text{
      font-weight: bold;
      font-size: 26px;
      color: grey;
      width:500px;
      margin: 0 auto;

  }

  .index-post-image{
    max-width: 100%;
    width: 100%;
  }

  .blog-title{
    width: 120px;
    margin:0 auto;
    text-align:center;
    color: white;
  }

  .follow-button{
    display: none;
  }

  .post-item {
    background-color: white;
  }

  .video-post {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }

  .bottom-right-container{
    position: absolute;
    right: 12px;
    bottom: 10px;

  }
  .reblog-image{
    float: left;
    height: 26px;
    width: 30px;
    display: block;
    background-image: url("/images/reblog.png");
    background-size: 30px;
    margin-right: 10px;
    cursor: pointer;
  }

  .reblog-image:hover{
    float: left;
    height: 26px;
    width: 30px;
    display: block;
    background-image: url("/images/icons/arrow-hover.png");
    background-size: 30px;
    margin-right: 10px;
    cursor: pointer;

  }

  .like-button {
    float: left;
  }

  .bottom-right-container:after{
    content: "";
    clear: both;
    display: block;
  }

  .post-text-header p{
    padding-left: 21px;
    padding-right: 21px;
  }

  .posts:last-child{
    margin-bottom: 50px;
  }

  .audio-post {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
