// Place all the styles related to the api/follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-container{
  float: left;
  width:400px;
  padding-bottom: 55px;
}


.follows-index{

  margin:0 auto;
}

.follow-username{
  text-align:center;
  color: white;
}

.follow-page-search {

  margin-bottom: 40px;
  margin-top: 40px;
}

.follow-search{
  margin: 0 auto;
}

.all-container {
  
  margin: 0 auto;
}


.follow-blog{
  text-align:center;
  color: black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
