.leftSideBar {

    display: none;
    height: 942px;
    width: 579px;
    z-index: 10;
    background-color: white;
    top: 1px;
    position: fixed;
    overflow-y: scroll;
    background-color: #36465D;

  .blog-show .user-blog-icon{
    display: none;
  }

  .thumbnail-user-blog{
    margin-top: 34px;
  }

  .quote-text{
    font-weight: bold;
    font-size: 26px;
    color: grey;
    width: 427px;
    margin: 0 auto;

  }

  .delete-button{
    display: none;
  }

  .post-item {
    border-radius: 5px;
    background: #FFF;
    width: 485px;
    margin: 0 auto;
    border: 1px black solid;
    margin-bottom: 20px;
  }

  .follow-button {
    display: none;
  }
  .post-body{
    margin-top: 13px;
  }

  .username-header{
    display: none;
  }

  .bottom-right-container{
    right: 0;
    bottom: 17px;
    position: absolute;
    width: 100px;
  }

  .reg-heart{
    margin-left: 9px;
  }

  .pink-heart{
    margin-left: 9px;
  }

  .reblog-image{
    float: left;
    height: 26px;
    width: 30px;
    display: block;
    background-image: url("/images/reblog.png");
    background-size: 30px;
    margin-right:0px;
  }
  .like-button{
    float: left;
  }

  .blog-show .post-text-header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .blog-show .post-text-header p {
    padding-left: 21px;
    padding-right: 21px;
  }

  .blog-title{
    width: 240px;
    margin: 0 auto;
    text-align: left;
    margin-top: 43px;
    //margin-bottom: 41px;
    color: white;
    height: 120px;
  }

  .user-profile-pic{
    text-align: center;
    margin-bottom: 33px;
    float: left;
    margin-left: 51px;
  }

  .blog-text{
    float: left;
    margin-top: -16px;
  }

  .blog-follow {
    margin-top:-32px;
  }

  .blog-header{
    margin: 0 auto;
    text-align: center;


  }
}
