.search-ac {
    padding: 0;
    list-style-type: none;
}

.search-list-item {
  background: white;
}


.home-icon {
  height: 51px;
  width: 44px;
  display:block;
  background-image: url("/images/icons3.png");
  background-size: 214px;
  background-position: 206px 60px;
  float:left;
  margin-right: 20px;

}

.explore-icon {
 height: 46px;
 width: 65px;
 display:block;
 background-image: url("/images/icons3.png");
 background-size: 310px;
 background-position: 224px 291px;
 float:left;
 margin-right: 20px;


}

.log-icon {
   height: 47px;
   width: 43px;
   display:block;
   background-image: url("/images/icons3.png");
   background-size: 252px;
   background-position: 118px 240px;
   float:left;
}
