.search-ac {
    padding: 0;
    list-style-type: none;
}

.search-list-item {
  background: white;
  color: grey;
  text-decoration: none;
}

.search-list-anchor{
  color: grey;
  text-decoration: none;
}

.search-list-anchor:hover{
  text-decoration: none;
  color: #36465D;
}


.home-icon {
  margin-top: 12px;
  height: 26px;
  width: 25px;
  display:block;
  background-image: url("/images/icons/home-icon.png");
  background-size: 25px;
  cursor: pointer;
  float:left;
  margin-right: 42px;

}

.explore-icon {
   height: 30px;
   width: 30px;
   display:block;
   background-image: url("/images/icons/explore-icon.png");
   cursor: pointer;
   float:left;
   margin-right: 44px;
   background-size: 30px;
   margin-top: 10px;

}

.log-icon {
   margin-top: 12px;
   height: 26px;
   width: 21px;
   display:block;
   background-image: url("/images/icons/profile-icon.png");
   background-size: 21px;
   float:left;
}

.likes-filler {
}

.followers-filler {
  cursor: pointer;

}

.followees-filler {
  cursor: pointer;

}
