// Place all the styles related to the api/newsfeeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsfeed-posts {
  margin:0 auto;
  padding: 0;
  list-style-type: none;
  width: 601px;
  height: 300px;
}

.parent-form{
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.post-nav {
  margin: 0 auto;
  width: 1154px;
  height: 106px;
  margin-bottom: 36px;
  display: flex;
  border-radius: 23px;
  padding-right: 35px;
}

.post-nav:after{
  clear: both;
  content: '';
  display: block;

}

.text-post{
  margin: 0 auto;

}

.link-post{
  margin: 0 auto;

}

.quote-post{
  margin: 0 auto;
}



.shade{
  background-color: rgba(0,0,0,0.7);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 5;
}


.blog-shade{
  background-color: rgba(0,0,0,0.7);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 5;
}



.hide {
  display: none;
}


.left-float {
  float: left;
}




.newsfeed-posts .user-profile-pic{
  float: left;
}

.newsfeed-posts .thumbnail-user{
  width: 80px;
  height: 71px;
  position: absolute;
  margin-left: -89px;

}
.newsfeed-posts .post-item-border{
  border-radius: 5px;
  background: #FFF;
  width: 600px;
  margin: 0 auto;
  float: left;
  margin-bottom: 21px;
}

.newsfeed-posts .post-header{
   width: 100%;
   min-height: 55px;
   margin: 0 auto;
   margin-top: 20px;

   margin-top: 22px;

}
.newsfeed-posts .post-item:after{
  clear:both;
  content: '';
  display: block;
}


.newsfeed-posts .like-button {
  float:left;
  margin-left:10px;
}

.newsfeed-posts .reblog-image {
  float:left;
  left:20px;
}

.newsfeed-posts .follow-button {
  padding: 0;
  background: none;
  border: none;
  float: left;
  right: 19px;
  top: -9px;
  position: absolute;

}

.newsfeed-posts .user-header {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.newsfeed-posts .user-header:after {
  clear: both;
  content: "";
  display: block;
  padding-left: 24px;
  padding-right: 24px;
}

.newsfeed-posts .username-header {
  float:left;

}

.newsfeed-posts .post-text-header p{
  padding-left: 24px;
}

.newsfeed-posts .post-body{

  min-height: 20px;
  padding-left: 54px;
  padding-right: 54px;
  width: 100%;

  word-break: break-all;
  margin: 0 auto;
}

.newsfeed-posts .tag-notes {
  float: left;
  position: absolute;
}

.newsfeed-posts .bottom-right-container{
  width: 96px;
  float: left;
  bottom: -11px;
  right: 13px;
  position: absolute;
  padding-bottom: 22px;
}

.newsfeed-posts .index-post-image {
  max-height: 100%;
  max-width: 100%;
}

.newsfeed-posts .audio-post {
  width: 552px;
}
