// Place all the styles related to the api/newsfeeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsfeed-posts {
  margin:0 auto;
  padding: 0;
  list-style-type: none;
  width: 600px;
  height: 300px;
}

.parent-form{
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.post-nav {
  margin:0 auto;
  width: 605px;
  height: 106px;
  margin-bottom: 60px;
  display: flex;
  background: black;
  border-radius: 23px;
}
.post-nav:after{
  clear:both;
  content:'';
  display:block;

}

.text-post{
  margin: 0 auto;

}

.link-post{
  margin: 0 auto;

}

.quote-post{
  margin:0 auto;

}

.remove-zindex{
  z-index: 0;
}

.add-zindex{
  z-index: 500;
}

.shade{
  background-color:rgba(0,0,0,0.4);
  display: block;
  position: fixed;
  width:100%;
  height: 100%;
  opacity: 0.5;
  top: 27%;
  left: 0%;
}

.no-shade{
  z-index:1001;
}

.hide {
  display: none;
}
.post-nav > div {
  margin-right: 14px;
  margin-left: 7px;
  margin-right:6px;
}
