// Place all the styles related to the api/newsfeeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsfeed-posts {
  margin:0 auto;
  padding: 0;
  list-style-type: none;
  width: 600px;
  height: 300px;
}

.parent-form{
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.post-nav {
  margin: 0 auto;
  width: 1136px;
  height: 106px;
  margin-bottom: 60px;
  display: flex;
  border-radius: 23px;
  padding-right: 35px;
}

.post-nav:after{
  clear: both;
  content: '';
  display: block;

}

.text-post{
  margin: 0 auto;

}

.link-post{
  margin: 0 auto;

}

.quote-post{
  margin: 0 auto;

}



.shade{
  background-color: rgba(0,0,0,0.4);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}



.hide {
  display: none;
}


.left-float {
  float: left;
}

#leftSideBar {
  display: none;
  height: 638px;
  width: 579px;
  border-radius: 10px;
  background-color: white;
  top: 169px;
  position: fixed;
  box-shadow: inset 0 0 0 25px #53a7ea;
}



.newsfeed-posts .bottom-right-container {
  margin-left: 368px;
  width: 117px;
  padding-bottom: 22px;
}

.newsfeed-posts .like-button {
  float:left;
  margin-left:10px;
}

.newsfeed-posts .reblog-image {
  float:left;
  left:20px;
}

.newsfeed-posts .follow-button {
  margin-left: 454px;
  padding: 0;
  background: none;
  border: none;

}
