// Place all the styles related to the api/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notes-ul{
  padding: 0;
  list-style-type: none;
  position: absolute;
}

.notes-li{
  width:100px;
  height: 27px;
  color: black;
  background: white;
}

.note-text{
  cursor: pointer;
}
