// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-header {

  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 26px;
  margin-top: 38px;

}

.post-body{

  min-height: 20px;
  padding-left: 21px;
  padding-right: 21px;
  width: 100%;

  word-break: break-all;
  margin: 0 auto;
}

.new-form{
  position: absolute;
  text-align: center;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  position: absolute;

}





/*post item css for index page*/
.posts-index > div {
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  width: 300px;
  overflow: hidden;
  margin-bottom:20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.posts-index {
   .thumbnail-user{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
  }

  .edit-button {
    display: none;
  }


  .user-blog-icon{
    display: none;
  }

  .index-post-image {
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  .post-text-header p {
    padding-left: 21px;
    padding-right: 21px;
  }

  .post-text-header {
    padding-top: 10px;
    margin-bottom: 18px;
  }


   .audio-post {
    max-width: 100%;
    max-height: 100%;
  }

   .like-button {
    right: 16px;
    bottom: 19px;
    position:absolute;

  }

  .follow-button {
    top: -30px;
    right: -142px;
    position: relative;
    padding: 0;
    background: none;
    border: none;
    color: #659BCF
  }

  .user-header{
    position: absolute;
    top: 28px;
    left: 71px;
    font-weight: bold;
  }
  .quote-text{
    font-weight: bold;
    font-size: 26px;
    color: grey;
    width: 253px;
    margin: 0 auto;
  }

   .reblog-image {
    height: 26px;
    width: 30px;
    display: block;
    background-image: url("/images/reblog.png");
    background-size: 30px;
    margin-left: 190px;
    cursor: pointer;

  }

   .reblog-image:hover{
    height: 26px;
    width: 30px;
    display: block;
    background-image: url("/images/icons/arrow-hover.png");
    background-size: 30px;
    margin-left: 190px;
    cursor: pointer;
  }


}

.border-index{
  display: flex;
  justify-content: center;

}
.inner-post-frame {
  margin: 0 auto;
  width: 90vw;
}




.post-text-header {
  max-height: 100%;
  margin: 0 auto;
}

.bottom-right-container{
  right: 0;
  bottom: 0;
}

.submit-post {
  margin-left: 374px;
}

.submit-edit {
  margin-left: 374px;

}

.clear {
  clear: both;
  content: "";
  display: block;
}

.new-post textarea{

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.new-post input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

}


.quote-source{
  color: #ccc;
}

.link-square{
  height: 175px;
  width: 175px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.square {
  margin: auto 0;
  text-align: center;
  background-color: #1a82f7;
  background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));
  padding-top: 65px;
  padding-bottom: 88px;
  color: white;
  border-radius: 10px;

}

.username-header {
  font-weight: bolder;
  cursor: pointer;
}

.username-header:hover{
  cursor: pointer;
  color: #7DA7C8
}

.tag-posts .follow-button {
  display: none;
}

.tag-posts .note-text{
  display: none;
}
