// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-header {

  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 26px;
  margin-top: 38px;

}

.post-body{

  min-height: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;

  word-break: break-all;
  margin: 0 auto;
}

.new-form{
  position: absolute;
  text-align: center;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  position: absolute;

}

/*post-item for feed*/
.post-item{
width: 601px;

}

.post-item .user-blog-icon {
  height: 23px;
  width: 17px;
  display: block;
  background-image: url("/images/icons3.png");
  background-size: 118px;
  background-position: 109px 30px;
  float: left;

}


.post-item:last-child{
  margin-bottom: 95px;

}
.new-post {
  background-color: white;
  position: relative;
  text-align:center;
  width: 545px;
  margin: 0 auto;
  margin-top: 200px;
  height: 322px;
  border-radius: 5px;
}

.posts-index{
  position: relative;
}

.index{
  width: 1279px;
  margin: 0 auto;
}

/*post item css for index page*/
.posts-index > div {
  border-radius: 5px;
  background: #FFF;
  position: absolute;
  width: 300px;
  overflow: hidden;
  margin-bottom:20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.posts-index .thumbnail-user{
  display:none;
}

.posts-index .index-post-image {
  height: auto;
  max-width: 100%;
  // position: absolute;
}

.posts-index .post-text-header {
  // position: absolute;
}


.posts-index .audio-post {
  max-width: 100%;
  max-height: 100%;
}

.posts-index .like-button {
  right: 14px;
  bottom: 12px;
  position:absolute;

}

.posts-index .follow-button {
  top: 13px;
  right: 14px;
  position: absolute;
  padding: 0;
  background: none;
  border: none;
}



.song-input{
  width: 500px;
  margin: 0 auto;
}


.inner-post-frame {
  margin: 0 auto;
}

.image-input {
  width: 500px;
  margin: 0 auto;
}

.reblog-image {
  height: 26px;
  width: 30px;
  display: block;
  background-image: url("/images/reblog.png");
  background-size: 30px;

}

.post-text-header {
  max-height: 100%;
  margin: 0 auto;
}

.bottom-right-container{
  right: 0;
  bottom: 0;
}

.submit-post {
  margin-left: 374px;
}

.clear {
  clear: both;
  content: "";
  display: block;
}

.new-post textarea{

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.new-post input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

}
