// Place all the styles related to the api/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bottom-container {
  padding: 20px 20px;
  left: 0;
  bottom: 0;
  color: #ccc;
  min-height: 72px;
  position: relative;

}

.bottom-container:after{
  clear: both;
  display: both;
  content: "";
}

.index-tag-label {
  display:inline-block;
}

.index-tag-label:hover{
  color: white;
  cursor: pointer;
}

.trending-tag-label{
  display:inline-block;
  font-weight:bold;
}

.trending-tags{
  color: grey;
  width: 2000px;
  position: absolute;
  left: 0;
  padding-left: 226px;
  padding-top: 13px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
