#rightSideContent {
  z-index: 5;
  width: 200px;
  margin-left: 42px;
  text-align: center;
}


#rightSideContent .side-username{

  color: #A7AEB0;

}

.radar-text {
  margin-bottom: -29px;
  padding-right: 99px;
  color: #A7AEB0;
  width: 136px;

}
.blog-trending-title{
  color: #A7AEB0;
  width: 136px;
}

.rightSubPost {

  margin-top: 39px;

  .post-item {
    width: 199px;
    height: 496px;
    font-size: 1em;
    border-radius: 5px;
    background-color: white;
  }

  .edit-button{
    display: none;
  }

  .thumbnail-user {
    width: 56px;
    left: 1306px;
    bottom: 377px;
    margin-bottom: -25px;
    height: 56px;
    margin-top: 17px;
    cursor: pointer;
  }

  .index-post-image {
    width: 200px;
    margin-left: -100px;
    margin-top: 8px;
    position: absolute;
  }

  .video-post {
     width: 200px;
     margin-left: -100px;
     margin-top: 8px;
     position: absolute;
  }

  .like-button {
    float: right;
    position: absolute;
    top: 12px;
    right: 0px;
    margin-right: 7px;

  }

  .post-text-body{
    color: #A7AEB0;
    width: 136px;
  }


  .reblog-image {
    float: left;
    cursor: pointer;
    height: 26px;
    width: 30px;
    display: block;
    background-image: url("/images/reblog.png");
    background-size: 30px;
    margin-left: 124px;
    margin-top: 2px;
   }

   .reblog-image:hover {
     float: left;
     cursor: pointer;
     height: 26px;
     width: 30px;
     display: block;
     background-image: url("/images/icons/arrow-hover.png");
     background-size: 30px;
     margin-left: 124px;
     margin-top: 2px;
    }


  .post-text-header {
    min-height: 114px;
    margin-top: 52px;
    overflow-y: auto;
  }
  .post-text-header p {
    margin: 0 auto;
    padding-left: 9px;
    padding-right: 9px;
  }

  .tag-post-index{
    display: none;
  }
  .follow-button {
    padding: 0;
    position: relative;
    background: none;
    border: none;
    right: -73px;
    top: -23px;
    display: none;

  }
  .post-body {
    height: 142px;
    padding-left: 30px;
    overflow-y: auto;
    margin-top: 21px;
  }
  .tag-notes {
    position: absolute;
    top: -470%;
    width: 68px;
    left: 65%;
    transform: translate(-50%, -50%);
  }
  .post-body::-webkit-scrollbar { display: none; }
  .post-text-header::-webkit-scrollbar { display: none; }

  .bottom-container {
      padding: 11px 0px;
      left: 0;
      bottom: 0;
      color: #ccc;
      height: 72px;
      position: relative;
  }

  .user-header {
    position: relative;
  }

  .username-header {
    position: absolute;
    top: 9px;
    left: 77px;
    width: 118px;
    word-wrap: break-word;
    font-size: 12px;
  }

  .user-blog-icon {
    position: absolute;
    left: 90px;
    display: none;
  }
  .tag-notes p{
    color: #A7AEB0;
    width: 136px;
  }


}

.blog-container{
  .thumbnail-user{
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
.blog-container:after{
  clear: both;
  content: "";
  display: block;
}
.rec-blog {
  padding-left: 39px;
  float: left;
  text-align: left;
}

.user-thumbnail-pic{
  float: left;
  margin-right: -23px;
}

.blog-item-content{
  margin-bottom: 9px;
  width: 237px;
  height: 59px;
  border-bottom: 1px solid #505E72;
  padding-top: 0px;

}
