#rightSideContent {
  z-index: 5;
  width: 200px;
  margin-left: 42px;
  text-align: center;
}

#rightSideContent p{
  color: #A7AEB0;
  width: 136px;
}

.radar-text {
  margin-bottom: -29px;
  padding-right: 99px;

}

.rightSubPost {
  .post-item {
    width: 199px;
    height: 362px;
    font-size: 1em;
    background-color: white
  }

  .thumbnail-user {display: none;}
  .index-post-image {
    width: 200px;
    margin-left: -100px;
    margin-top: 8px;
    position: absolute;
  }

  .video-post {
     width: 200px;
     margin-left: -100px;
     margin-top: 8px;
     position: absolute;
  }

  .like-button {
    float: right;
    position: absolute;
    top: 12px;
    right: 0px;

  }
  .reblog-image { float: left; cursor: pointer; }
  .post-text-header{ min-height: 147px;  }
  .post-text-header p {
    margin: 0 auto;
  }

  .tag-post-index{
    display: none;
  }
  .follow-button {
    padding: 0;
    position: relative;
    background: none;
    border: none;
    right: -73px;
    top: -23px;

  }
  .post-body {
    height: 165px;
    padding-left: 30px;
    overflow-y: auto;
  }
  .tag-notes {
    position: absolute;
    top: -472%;
    width: 68px;
    left: 0%;
    transform: translate(-50%, -50%);
  }
  .post-body::-webkit-scrollbar { display: none; }

  .bottom-container {
      padding: 11px 0px;
      left: 0;
      bottom: 0;
      color: #ccc;
      height: 72px;
      position: relative;
  }
  .user-header {
    position: relative;
  }
  .username-header {
    position: absolute;
    left: 104px;
  }
  .user-blog-icon {
    position: absolute;
    left: 90px;
  }
  .tag-notes p{
    width: 67px;
  }


}

.blog-container{
  .thumbnail-user{
    width: 61px;
  }
}
.blog-container:after{
  clear: both;
  content: "";
  display: block;
}
.rec-blog {
  margin: 0 auto;
  width: 81px;
  float: left;
}

.user-thumbnail-pic{
  float: left;
  margin-right: -23px;
}

.blog-item-content{
  margin-bottom: 10px;
  width:144px;
  height: 51px;
  border-bottom: 1px solid grey;

}
