#rightSideContent {
  z-index: 5;
  width: 200px;
  margin-left: 42px;
  text-align: center;
}

#rightSideContent p{
  color: #A7AEB0;
}

.rightSubPost .post-item{
  width: 187px;
  height: 284px;
}

.rightSubPost .post-text-header{
  min-height: 67px;
}
.rec-blog {
  margin: 0 auto;
  width: 147px;
  border-bottom: 1px solid grey;
  margin-top: 5px;
}
