<section class="full-height bg1"  data-type="parallax" data-bg-height="500">
  <div style="height: 1000px;">
    <div class="session-container">

             <div class= "credential-div topcorner">
               <button class="cred-button btn btn-primary"><a href="/session/new">Log in</a></button>
               <button class="cred-button btn btn-primary"><a href="/users/new">Sign up</a></button>
             </div>

             <div class="session-form-container">
              <div class="stumblr">stumblr.</div>
               <div class="session-form">
                 <form action="<%=users_url%>" method="post">
                     <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                   <label class="username-input">
                     <input class="form-control input-lg" style= "" type="text" name="user[username]" placeholder="Username" value=""></label>
                   <label class= "password-input">
                     <input class="form-control input-lg" style= "" type="password" name="user[password]" placeHolder= "Password" value=""></label>
                   <label class= "blog-title-input">
                     <input class="form-control input-lg blog-input" style= "" type="text" name="blog[title]" placeHolder= "Title - optional"></label>
                     <input class="sign-in-button btn btn-primary" type ="submit" value = "Sign Up">
                   </form>
                 </div>
               </div>
      </div>

        <div class="live">Live</div>


  </section>
  	<!-- Section #2 -->
  <section class="fixed-height bg2" style="height: 700px;" data-type="parallax">
  		<div class="love">Love</div>
  </section>
  	<!-- Section #3 -->
  <section class="bg3" data-type="parallax">
  		<div style="height:600px;">
      <div class="laugh">Laugh</div>
  	</div>
  </section>


<script>
  Guest.initialize();
</script>
