/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-tokenfield";

 // @import "api/newsfeed"

 body {
   background-color: #36465D;
 }

 .header-input{
   margin:0 auto;
   width:500px;
   height: 49px;
   width: 500px;
   margin-bottom: -25px;
 }

 .body-input{
   margin:0 auto;
   width: 500px;
   height: 125px;
 }

 textarea.form-control {
   height: 125px;
 }

 .tag-input{
   margin:0 auto;
   width: 500px;
 }

.navbar-default{
  background-color: #36465D
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 175px;
}

.image-input {
  width:500px;
  margin: 0 auto;
  margin-bottom: -20px;
}

.song-input{
  width:500px;
  margin: 0 auto;
  margin-bottom: -20px;
}

.video-input {
  width:500px;
  margin: 0 auto;
  margin-bottom: -20px;
}

.navbar-right {
  width: 217px;
  margin-right: 123px;
}

.navbar-right:after {
  clear: both;
  content: "";
  display: block;
}

.navbar{
  border-radius: 0;
}


.search-input {
  background-color: #36465D;
  color: white;
  font-weight: lighter;
}

.tokenfield {
  border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}


.sign-in-button{
  background-color: #3292B2;
  border-color: #3292B2;
  border-radius: 2px;

}

.session-form input{
  height:51px;
  line-height:18px;
  width: 300px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.cred-button {
  color: white;
  border-radius: 2px;
}

.cred-button a{
  color: white;
}

.cred-button a:hover{
  text-decoration: none !important;
}

.cancel-post{
  background-color: grey;
  border-color: grey;
}
