/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-tokenfield";
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);


 // @import "api/newsfeed"
html{
  font-family: 'Open Sans', sans-serif;
}
 body {
   background-color: #36465D;
 }

 .tokenfield .token-input {
   width: 471.5px;
 }

 .header-input{
   margin:0 auto;
   width:500px;
   height: 49px;
   width: 500px;
   margin-bottom: -25px;
 }

 .body-input{
   margin:0 auto;
   width: 500px;
   height: 125px;
 }

 textarea.form-control {
   height: 125px;
 }

 .tag-input{
   margin:0 auto;
   width: 500px;
 }

.navbar-default{
  background-color: #36465D;
  border-color: #505E72;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 89px;
}

.image-input {
  width:500px;
  margin: 0 auto;
  margin-bottom: -20px;
}

.song-input{
  width:500px;
  margin: 0 auto;
  margin-bottom: -20px;
}

.video-input {
  width:500px;
  margin: 0 auto;
  margin-bottom: -20px;
}

.navbar-right {
  width: 365px;
  margin-right: 35px;
}

.navbar-right:after {
  clear: both;
  content: "";
  display: block;
}

.navbar{
  border-radius: 0;
}

.quote-source{
  margin: 0 auto;
  width: 500px;
}


.search-input {
  background-color: #36465D;
  color: white;
  font-weight: lighter;
}

.tokenfield {
  border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}


.sign-in-button{
  background-color: #3292B2;
  border-color: #3292B2;
  border-radius: 2px;
  margin-bottom: -16px;

}

.session-form input{
  height:51px;
  line-height:18px;
  width: 300px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.cred-button {
  color: white;
  border-radius: 2px;
}

.submit-post{
  margin-bottom: 10px;
}

.submit-edit{
  margin-bottom: 10px;
}

.cred-button a{
  color: white;
}

.cred-button a:hover{
  text-decoration: none !important;
}

.cancel-post{
  margin-bottom: 10px;
  background-color: grey;
  border-color: grey;
}

.side-title {
  color: #9CA2AE;
  color: white;
  text-decoration:none;
  font-weight: 500

}
.side-title:hover {
  text-decoration: none !important;
  color: #7DA7C8;
}

.side-title:active{
  text-decoration: none !important;
  color: #7DA7C8;

}

.notif-drop {
  height: 200px;
  overflow-y: scroll;
}



.square:hover{
  text-decoration: none;
  color: black;
}

.square:active {
  text-decoration: none;
  color: white;
}
