

	.session-form {
		width: 300px;
		margin: 0 auto;
		height: 300px;
	}
	.session-form label{
		height: 46px;
	}

	.session-form input{
		height:53px;
		line-height:18px;
		width: 300px;
	}

	.sign-in-button{
		background-color:none;
		width:300px;
		height: 50px;
		margin-top: 20px;
	}

	.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	}

	.middle {
	    display: table-cell;
	    vertical-align: middle;
	}

	.inner {
	    margin-left: auto;
	    margin-right: auto;
	    width: 300px;
	}

	.session-form-container {
		position: absolute;
		top: 50%;
		margin-top: -200px;/* half of #content height*/
		left: 0;
		width: 100%;
	}

	.topcorner{
    position:absolute;
    top:10px;
    right: 10px;
 }

 .credential-background {
	 height: 1500px;
	 background-position: center;
	 background-size: cover;
	 background-image: url("/images/camera-girl.jpeg");
 }

 .blue-sky-bg {
	 height: 600px;
	 background-position: center;
	 background-size: cover;
	 background-image: url("/images/blue-sky.jpeg");
 }

 .brick-building-bg {
	 height: 600px;

	 background-position: center;
	 background-size: cover;
	 background-image: url("/images/brick-building.jpeg");
 }
 .coffee-bg {
	height: 600px;
	background-position: center;
	background-size: cover;
	background-image: url("/images/coffee.jpeg");
 }
 .danglingroof-bg {
	height: 600px;
	background-position: center;
	background-size: cover;
	background-image: url("/images/danglingroof.jpeg");
 }

 .credential-div a {
	 text-decoration: none;
 }

 .post-text-image {
	 height: 104px;
	 width: 113px;
	 display:block;
	 background-image: url("/images/icons4.png");
	 background-size: 644px;
	 background-position: 153px 150px;
	 float:left;
 }

 .post-quote-image {
		height: 102px;
		width: 108px;
		display:block;
		background-image: url("/images/icons4.png");
		background-size: 644px;
		background-position: 262px 262px;
		float:left;

 }

 .post-link-image {
		height: 103px;
		width: 109px;
		display:block;
		background-image: url("/images/icons4.png");
		background-size: 644px;
		background-position: 375px 375px;
		float:left;

 }

 .post-picture-image {
	 height: 103px;
	 width: 109px;
	 display:block;
	 background-image: url("/images/icons4.png");
	 background-size: 644px;
	 background-position: 601px 376px;
	 float:left;

 }

 .post-song-image {
	 height: 107px;
	 width: 108px;
	 display:block;
	 background-image: url("/images/icons4.png");
	 background-size: 644px;
	 background-position: 601px 264px;
	 float:left;

 }

 .post-video-image {
	 height: 103px;
	 width: 113px;
	 display:block;
	 background-image: url("/images/icons4.png");
	 background-size: 644px;
	 background-position: 600px 151px;
	 float:left;

 }

 @-webkit-keyframes pulse {
     0% {
       -webkit-transform: scale(1) rotate(0deg);
     }
     50% {
       -webkit-transform: scale(1.1) rotate(-5deg);
     }
     100% {
       -webkit-transform: scale(1) rotate(0deg);
     }
 }

 @-o-keyframes pulse {
     0% {
       -o-transform: scale(1) rotate(0deg);
     }
     50% {
       -o-transform: scale(1.1) rotate(-5deg);
     }
     100% {
       -o-transform: scale(1) rotate(0deg);
     }
 }

 @-moz-keyframes pulse {
     0% {
       -moz-transform: scale(1) rotate(0deg);
     }
     50% {
       -moz-transform: scale(1.1) rotate(-5deg);
     }
     100% {
       -moz-transform: scale(1) rotate(0deg);
     }
 }

 @keyframes pulse {
     0% {
       transform: scale(1) rotate(0deg);
     }
     50% {
       transform: scale(1.1) rotate(-5deg);
     }
     100% {
       transform: scale(1) rotate(0deg);
     }
 }

 @-webkit-keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }

 @-o-keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }
 @-moz-keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }
 @keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }

 .ball:hover {
     -webkit-animation: pulse 1s ease 0s infinite normal;
     -o-animation: pulse 1s ease 0s infinite normal;
     -moz-animation: pulse 1s ease 0s infinite normal;
     animation: pulse 1s ease 0s infinite normal;
 }


 .home-icon {
	 height: 47px;
	 width: 43px;
	 display:block;
	 background-image: url("/images/icons5.png");
	 background-size: 310px;
	 background-position: 215px 67px;
	 float:left;
	 margin-right: 20px;

 }

 .explore-icon {
	height: 47px;
	width: 43px;
	display:block;
	background-image: url("/images/icons5.png");
	background-size: 310px;
	background-position: 63px 220px;
	float:left;
	margin-right: 20px;


 }

.log-icon {
		height: 47px;
		width: 43px;
		display:block;
		background-image: url("/images/icons5.png");
		background-size: 310px;
		background-position: 215px 219px;
		float:left;
}
