

	.session-form {
		width: 300px;
		margin: 0 auto;
		height: 300px;
	}
	.session-form label{
		height: 46px;
	}

	.session-form input{
		height:53px;
		line-height:18px;
		width: 300px;
	}

	.sign-in-button{
		background-color:none;
		width:300px;
		height: 50px;
		margin-top: 20px;
	}

	.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	}

	.middle {
	    display: table-cell;
	    vertical-align: middle;
	}

	.inner {
	    margin-left: auto;
	    margin-right: auto;
	    width: 300px;
	}

	.session-form-container {
		position: absolute;
		top: 50%;
		margin-top: -200px;
		left: 0;
		width: 100%;
	}

	.topcorner{
    position:absolute;
    top:10px;
    right: 10px;
 }

 .credential-background {
	 height: 1500px;
	 background-position: center;
	 background-size: cover;
	 background-image: url("/images/camera-girl.jpeg");
 }

 .blue-sky-bg {
	 height: 600px;
	 background-position: center;
	 background-size: cover;
	 background-image: url("/images/blue-sky.jpeg");
 }

 .brick-building-bg {
	 height: 600px;

	 background-position: center;
	 background-size: cover;
	 background-image: url("/images/brick-building.jpeg");
 }
 .coffee-bg {
	height: 600px;
	background-position: center;
	background-size: cover;
	background-image: url("/images/coffee.jpeg");
 }
 .danglingroof-bg {
	height: 600px;
	background-position: center;
	background-size: cover;
	background-image: url("/images/danglingroof.jpeg");
 }

 .credential-div a {
	 text-decoration: none;
 }

 .post-text-image {
	 margin-right: -279px;
	 height: 123px;
	 width: 99px;
	 display:block;
	 background-image: url("/images/icons/text-icon.png");
	 background-size: 104px;
	 float:left;
 }

 .post-quote-image {
	  margin-right: -279px;
		height: 123px;
		width: 94px;
		background-size: 95px;
		display:block;
		background-image: url("/images/icons/quote-icon.png");
		float:left;

 }

 .post-link-image {
	 margin-right: -1px;
		 height: 123px;
		 width: 96px;
		 background-size: 95px;
		display:block;
		background-image: url("/images/icons/link-icon.png");
		float:left;

 }

 .post-picture-image {
	 height: 123px;
	 width: 96px;
	 background-size: 96px;
	 display:block;
	 background-image: url("/images/icons/image-icon.png");
	 float:left;

 }

 .post-song-image {
	 height: 123px;
	 width: 95px;
	 background-size: 96px;
	 display:block;
	 background-image: url("/images/icons/audio-icon.png");
	 float:left;

 }

 .post-video-image {
	 height: 123px;
	 width: 103px;
	 background-size: 97px;
	 display:block;
	 background-image: url("/images/icons/video-icon.png");
	 float:left;

 }

 @-webkit-keyframes pulse {
     0% {
       -webkit-transform: scale(1) rotate(0deg);
     }
     50% {
       -webkit-transform: scale(1.1) rotate(-5deg);
     }
     100% {
       -webkit-transform: scale(1) rotate(0deg);
     }
 }

 @-o-keyframes pulse {
     0% {
       -o-transform: scale(1) rotate(0deg);
     }
     50% {
       -o-transform: scale(1.1) rotate(-5deg);
     }
     100% {
       -o-transform: scale(1) rotate(0deg);
     }
 }

 @-moz-keyframes pulse {
     0% {
       -moz-transform: scale(1) rotate(0deg);
     }
     50% {
       -moz-transform: scale(1.1) rotate(-5deg);
     }
     100% {
       -moz-transform: scale(1) rotate(0deg);
     }
 }

 @keyframes pulse {
     0% {
       transform: scale(1) rotate(0deg);
     }
     50% {
       transform: scale(1.1) rotate(-5deg);
     }
     100% {
       transform: scale(1) rotate(0deg);
     }
 }

 @-webkit-keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }

 @-o-keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }
 @-moz-keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }
 @keyframes bump {
   0% {
       top: 0;
   }
   5% {
       top: 3px;
   }
   10% {
       top:0;
   }
   100% {
       top:0;
   }
 }

 .ball:hover {
     -webkit-animation: pulse 1s ease 0s infinite normal;
     -o-animation: pulse 1s ease 0s infinite normal;
     -moz-animation: pulse 1s ease 0s infinite normal;
     animation: pulse 1s ease 0s infinite normal;
 }


 .home-icon {
	 height: 51px;
	 width: 44px;
	 display:block;
	 background-image: url("/images/icons3.png");
	 background-size: 214px;
	 background-position: 206px 60px;
	 float:left;
	 margin-right: 20px;

 }

 .explore-icon {
	height: 46px;
	width: 65px;
	display:block;
	background-image: url("/images/icons3.png");
	background-size: 310px;
	background-position: 224px 291px;
	float:left;
	margin-right: 20px;


 }

.log-icon {
		height: 47px;
		width: 43px;
		display:block;
		background-image: url("/images/icons3.png");
		background-size: 252px;
		background-position: 118px 240px;
		float:left;
}

.red-heart:hover{
	height: 29px;
	width: 35px;
	display:block;
	background-image: url("/images/hover-heart.png");
	background-size: 35px;
}

.reg-heart:hover{
	height: 29px;
	width: 35px;
	display:block;
	background-image: url("/images/hover-heart.png");
	background-size: 35px;
	background-position: 0px 0px;
}

.red-heart{
	height: 29px;
	width: 35px;
	display:block;
	background-image: url("/images/red-heart.png");
	background-size: 35px;
}

.reg-heart{
	height: 34px;
	width: 36px;
	display:block;
	background-image: url("/images/icons2.png");
	background-size: 189px;
	background-position: -101px 181px;
}


.button-heart{
	background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	float:left;
	height: 70px;
	margin: 0 30px 30px 0;
	position: relative;
	width: 70px;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.button:after{
	color:#e9e6e4;
	content: "";
	display: block;
	font-size: 30px;
	height: 30px;
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	position: absolute;
	width: 30px;
}


.heart:after{
	content: "❤";
	left: 21px;
	top: 21px;
}

.flower:after{
	content: "✿";
	left: 23px;
	top: 19px;
}

.tick:after{
	content: "✔";
	left:23px;
	top:20px;
}

.cross:after{
	content: "✖";
	left: 24px;
	top: 19px;
}

.button:hover{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}

.heart:hover:after{
	color:#f94e66;
	text-shadow:0px 0px 6px #f94e66;
}

.flower:hover:after{
	color:#f99e4e;
	text-shadow:0px 0px 6px #f99e4e;
}

.tick:hover:after{
	color:#83d244;
	text-shadow:0px 0px 6px #83d244;
}

.cross:hover:after{
	color:#eb2f2f;
	text-shadow:0px 0px 6px #eb2f2f;
}
