<div class="shade">
  <div id="ballWrapper">
       <div class="modal-video-icon balls" style="left: 471px; animation: jump 2s infinite;"></div>
       <div class="ballShadow" style="left: 533px;"></div>
       <div class="modal-song-icon balls" style="left: 300px; animation: jump 5s infinite;"></div>
       <div class="ballShadow" style="left: 370px;"></div>
       <div class="modal-image-icon balls" style="left: 134px;"></div>
       <div class="ballShadow" style="left: 200px;"></div>
       <div class="modal-link-icon balls" style="left: -32px; animation: jump 3.5s infinite;"></div>
       <div class="ballShadow" style="left: 40px;"></div>
       <div class="modal-quote-icon balls" style="left: -200px; animation: jump 2.5s infinite;"></div>
       <div class="ballShadow" style="left: -133px;"></div>
       <div class="modal-text-icon balls" style= "left: -370px; animation: jump 5.2s infinite;"></div>
       <div class="ballShadow" style="left: -302px;"></div>
  </div>

</div>
