<% follows.each(function(follow) { %>
  <div class="follow-container">
    <p class="follow-username"><%= follow.escape("username") %></p>
    <div class="user-img">
        <img class= "profile-pic" src="<%= follow.escape("profileUrl") %>" width="160" height="160">
    </div>
  </div>
<% }) %>
