<div class="follow-page-search">
  <input type="text" style= "width: 500px;"
          class="follow-search form-control"
          name="followquery" placeholder="Search"
          value="" autocomplete="off">
  <ul class="search-follow"></ul>
</div>

<div class="all-container">

</div>
