<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class="post-nav">
  <div class= "post-text-image ball text-post button-post" data-attr="Text"></div>
  <div class="post-quote-image ball quote-post button-post" data-attr="Quote"></div>

  <div class="post-link-image ball link-post button-post" data-attr="Link"></div>
  <div class="post-picture-image ball picture-post button-post" data-attr="Image"></div>

  <div class="post-song-image ball song-post button-post" data-attr="Song"></div>
  <div class="post-video-image ball video-post button-post" data-attr="Video"></div>

</div>
<div id="leftSideBar"></div>




<div class="parent-form">
  <div class= "new-form-view">
  </div>

  <div class="newsfeed-posts">
  </div>
</div>
