<div class="post-nav">
  <div class= "post-text-image ball text-post" data-attr="Text"></div>
  <div class="post-quote-image ball quote-post" data-attr="Quote"></div>

  <div class="post-link-image ball link-post" data-attr="Link"></div>
  <div class="post-picture-image ball picture-post" data-attr="Picture"></div>

  <div class="post-song-image ball song-post" data-attr="Song"></div>

</div>

    <div class="parent-form">
      <div class= "new-form-view">
      </div>

      <div class="newsfeed-posts">
      </div>
    </div>
