<div class="post-nav">
  <button class="btn btn-primary text-post">Text</button>
  <button class="btn btn-primary quote-post">Quote</button>
  <button class="btn btn-primary link-post">Link</button>
</div>


    <div class="parent-form">
      <div class="new-form">
      </div>

      <ul class="newsfeed-posts">
      </ul>
    </div>
