<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class="post-nav">
  <div class= "post-text-image ball text-post" data-attr="Text"></div>
  <div class="post-quote-image ball quote-post" data-attr="Quote"></div>

  <div class="post-link-image ball link-post" data-attr="Link"></div>
  <div class="post-picture-image ball picture-post" data-attr="Image"></div>

  <div class="post-song-image ball song-post" data-attr="Song"></div>
  <div class="post-video-image ball video-post" data-attr="Video"></div>

</div>
<div id="leftSideBar">stuf here</div>
<div id="leftSideMenuIcon">more stuff here</div>



    <div class="parent-form">
      <div class= "new-form-view">
      </div>

      <div class="newsfeed-posts">
      </div>
    </div>
