<div class="leftSideBar"></div>
<div class="inner-post-frame">
  <div class="trending-tags">
  </div>
  <div class="border-index">
      <ul class="notes-ul" style="left:50%; top:50%">

      </ul>
    <div class="posts-index" data-masonry-options='{ "itemSelector": ".post-item", "columnWidth": 200 }'>">
    </div>
  </div>
</div>
