  <% if (post.get("follow_relation_id") !== null) { %>
    <% var followState = "unFollow"; %>
  <% } else { %>
    <% var followState = "Follow"; %>
  <% } %>


  <button class="follow-button"><%= followState %></button>
  <button class="like-button">Like</button>
  <%= post.escape("title") %>
  <%= post.escape("username") %>
  <%= post.escape("body") %>
