<h1>New Post</h1>

<label for='title'>Title</label><br>
  <input type='text'
         name='post[title]'
         id='title'
         value=''><br>
<label for='body'>Body</label><br>
  <input type='text'
        name='post[body]'
        id='title'
        value=''><br>

<button class="submit-post">Submit</button>
