  <% if (post.get("follow_relation_id") !== null) { %>
    <% var state = "unFollow"; %>
  <% } else { %>
    <% var state = "Follow"; %>
  <% } %>


  <button class="follow-button"><%= state %></button>
  <%= post.escape("title") %>
  <%= post.escape("username") %>
  <%= post.escape("body") %>
