<p class=blog-trending-title>Recommended Blogs</p>
<div class="blog-container">

  <% blogs.each(function(blog) { %>
    <div class="blog-item-content">
      <div class="user-thumbnail-pic">
        <img class = "thumbnail-user" src="<%= blog.get("profileUrl") %>">
      </div>
      <div class="rec-blog">
        <a class="side-title" href="#/blogs/<%= blog.id %>"><%= blog.escape("title") %>
          <br>
        </a>
          <p class="side-username"><%=blog.escape("username")%></p>
      </div>
    </div>

  <% }) %>

</div>
<br>
<p class="radar-text">Radar</p>
<div class="rightSubPost"></div>
